<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "free.curcalc"
    versionCode = "1"
    version     = "1.0.0" >

  <name>CurCalc</name>
  <description>
      Aplikacja do przeliczania walut
  </description>
  <author href="https://thelostworld.cba.pl/" email="tlwk@gmx.com">
      Artur Boryś
  </author>
	<access origin="*" />
	<platform name="android">
	  <!-- all platforms -->
	  <preference name="phonegap-version" value="cli-6.3.0" />
	  <preference name="orientation" value="portrait" />
	  <preference name="fullscreen" value="false" />
		<icon src="icons/icon_36.png" qualifier="ldpi" />
		<icon src="icons/icon_48.png" qualifier="mdpi" />
		<icon src="icons/icon_72.png" qualifier="hdpi" />
		<icon src="icons/icon_96.png" qualifier="xhdpi" />
		<icon src="icons/icon_144.png" qualifier="xxhdpi" />
		<icon src="icons/icon_192.png" qualifier="xxxhdpi" />
	</platform>
	<icon src="icon.png" />
	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#1565C0" />
	<plugin name="cordova-plugin-whitelist"/>
	<plugin name="org.crosswalk.engine" spec="1.3.0" source="pgb" />
	<plugin name="cordova-plugin-statusbar" />
</widget>
