<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "curcalc.free"
        versionCode = "7"
        version     = "1.1.5" >
    <!-- INFO -->
    <name>CurCalc</name>
		<content src="index.html"></content>
    <description>
        Prosty przelicznik walut
    </description>

    <author href="http://thelostworld.cba.pl/" email="kontakt@thelostworld.cba.pl">
        Artur Boryś
    </author>

    <!-- PREFS -->
    <preference name="orientation"                value="default" />
    <preference name="fullscreen"                 value="false" />
    <preference name="android-installLocation"    value="auto" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <access origin="*"/>
    <allow-intent href="https://api.nbp.pl"/>

    <!-- PLUGINS -->
    <plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-network-information"/>
    <plugin name="cordova-plugin-geolocation"/>
	</widget>
