<div class="container">
	<div class="header">
		<i class="material-icons" ng-click="showSideNav()">menu</i>
		<h1>CurCalc</h1>
	</div>
	<div class="content">
		<h1>CurCalc</h1>
		<p>Jest to aplikacja służąca do przeliczania wartości walut. Dane są pobierane
			z serwerów NBP, co zapewnia wiarygodność. Nie są tutaj podane ceny kupna i sprzedaży,
			a jedynie wartości walut. Dane są aktualizowane od poniedziałku do piątku.
		</p>
		<p>Dane z dnia: {{ data_dt }}</p>
		<p>Wersja aplikacji: {{ app_version }}</p>
		<p>Autor: <a href="http://thelostworld.cba.pl">Artur Boryś</a></p>
	</div>
</div>
