<div class="container">
	<div class="header">
		<i class="material-icons" ng-click="showSideNav('main')">menu</i>
		<h1>CurCalc</h1>
	</div>
	<div class="content no_padding">
		<form name="calculator" action="javascript:void(0)">
			<div class="float_container">
				<div class="input_tile_swap">
					<select name="w1" ng-model="w1">
						<option value="" selected="true">Z</option>
						<option ng-repeat="x in waluty[0].rates" value="{{$index}}">{{ x.code }}</option>
					</select>
				</div>
				<div class="swap_button">
					<i class="material-icons" ng-click="swap()">swap_horiz</i>
				</div>
				<div class="input_tile_swap">
					<select name="w2" ng-model="w2">
						<option value="">Na</option>
						<option ng-repeat="x in waluty[0].rates" value="{{$index}}">{{ x.code }}</option>
					</select>
				</div>
			</div>
			<div class="padding">
				<label for="ilosc">Ilość</label>
				<div class="input_tile">
					<input type="text" name="ilosc" ng-model="ilosc"/>
				</div>
				<div class="text_center">
					<button class="button" ng-click="calc()">Przelicz</button>
				</div>
			</div>
		</form>
		<p id="wynik">
			{{ wynik }}
		</p>
	</div>
</div>
